.container {
  width: 960px;
  margin: 24px auto;
  overflow: auto;
  background: #f1f5f9;
}
.sidebar,
.content {
  float: left;
  padding: 20px;
  border: 1px solid #ccc;
  min-height: 120px;
}
.fix-border * {
  box-sizing: border-box;
}
.fix-border .sidebar {
  width: 300px;
}
.fix-border .content {
  width: 660px;
}
.fix-width .sidebar {
  width: 258px;
}
.fix-width .content {
  width: 598px;
}
